html,
body {
  padding: 0;
  margin: 0;
  background-color: lightgray;
}

/*

Styling from react-diagrams module:

* {
  margin: 0;
  padding: 0;
}

html,
body,
#application {
  height: 100%;
  overflow: hidden;
}

*/

.diagram-container {
  background: #9c9c9c97;
  width: 100%;
  height: 100%;
}

.custom-node {
  position: relative;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.custom-node-header {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(192, 255, 0);
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 5px;
  border-radius: 3px;
  z-index: 10;
}

.circle-port {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  position: absolute;
}

.in-port {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.out-port {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
